@charset "utf-8";
body,html{
	top: 0px;
	left:0px;
	right: 0px;
	bottom: 0px;
}
.container{
	top: 10px;
	background-image: url("5.jpg");
	background-attachment: fixed;
	margin-top: 10px;
	width:100%;
}
