@charset "utf-8";
body,html{
	top: 0px;
	left:0px;
	right: 0px;
	bottom: 0px;
}
.container{
	top: 10px;
	left:50px;
	right: 50px;
	bottom: 10px;
	background-image: url("3.jpg");
	background-attachment: fixed;
	border: 1px solid red;
	margin-top: 10px;
	border-radius: 100%;
}
