@charset "utf-8";
body,html{
	top: 0px;
	left:0px;
	right: 0px;
	bottom: 0px;
}
.con{
	background-color: #c0c0c0;
	border: 0px solid red;
	opacity: 0.8;
	width: 100%;
	height: 200px;
	border-radius: 25px;
	text-align: center;
}
.a{
	background-image: url(5.jpg);
	border-radius: 50%;
	margin-left: 2%;
	width: 18%;
	height: 150px;
	float: left;
	text-align: center;
	line-height: 150px;
	color: red;
}
.view{
	position: absolute;
    border: 0px solid red;
    background-color: pink;
    width: 0%;
    height: 0%;
    z-index: 1;
    border-radius: 25px;
    margin-top: 10%;
}
img{
	position: absolute;
	width: 97%;
	height: 80%;
	z-index: 0;
	border-radius: 25px;
}
